/****** Object:  Table [dbo].[STG_Applicants]    Script Date: 5/15/2026 1:33:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_Applicants](
	[applicant_id] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[postcode] [nvarchar](255) NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_Applicants_update]    Script Date: 5/15/2026 1:33:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_Applicants_update](
	[applicant_id] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[postcode] [nvarchar](255) NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_Courses]    Script Date: 5/15/2026 1:33:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_Courses](
	[course_code] [nvarchar](255) NOT NULL,
	[course_name] [nvarchar](255) NULL,
	[institution_code] [nvarchar](255) NULL,
	[institution_name] [nvarchar](255) NULL,
	[campus] [nvarchar](255) NULL,
	[study_mode] [nvarchar](255) NULL,
	[duration_years] [nvarchar](50) NULL,
	[atar_cutoff] [float] NULL,
	[csp_available] [bit] NULL,
	[active_flag] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_Preferences]    Script Date: 5/15/2026 1:33:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_Preferences](
	[preference_id] [nvarchar](255) NOT NULL,
	[applicant_id] [nvarchar](50) NULL,
	[course_code] [nvarchar](255) NULL,
	[preference_order] [int] NULL,
	[application_year] [int] NULL,
	[offer_status] [nvarchar](255) NULL,
	[offer_date] [nvarchar](255) NULL,
	[response] [nvarchar](255) NULL,
	[response_date] [nvarchar](255) NULL,
 CONSTRAINT [PK_STG_Preferences] PRIMARY KEY CLUSTERED 
(
	[preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_Qualifications]    Script Date: 5/15/2026 1:33:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_Qualifications](
	[qualification_id] [nvarchar](255) NOT NULL,
	[applicant_id] [nvarchar](255) NULL,
	[qualification_type] [nvarchar](255) NULL,
	[institution_name] [nvarchar](255) NULL,
	[year_completed] [int] NULL,
	[gpa] [nvarchar](255) NULL,
	[atar_score] [nvarchar](255) NULL,
	[verified] [bit] NULL,
 CONSTRAINT [PK_STG_qualifications] PRIMARY KEY CLUSTERED 
(
	[qualification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[STG_Applicants] ([applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date]) VALUES (N'1002', N'James', N'O''Connor', CAST(N'1999-07-22' AS Date), N'james.oconnor@hotmail.com', N'0423456789', N'NSW', N'2010', CAST(N'2025-01-10' AS Date), CAST(N'2025-02-15' AS Date))
INSERT [dbo].[STG_Applicants] ([applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date]) VALUES (N'1005', N'Jessica', N'Brown-Taylor', CAST(N'1999-02-28' AS Date), N'jess.browntaylor@gmail.com', N'0456789012', N'QLD', N'4350', CAST(N'2025-01-12' AS Date), CAST(N'2025-02-20' AS Date))
INSERT [dbo].[STG_Applicants] ([applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date]) VALUES (N'1007', N'Olivia', N'Smith', CAST(N'2000-08-30' AS Date), N'olivia.smith@outlook.com', N'0478901234', N'QLD', N'4000', CAST(N'2025-01-13' AS Date), CAST(N'2025-02-22' AS Date))
GO
INSERT [dbo].[STG_Applicants_update] ([applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date]) VALUES (N'1002', N'James', N'O''Connor', CAST(N'1999-07-22' AS Date), N'james.oconnor@hotmail.com', N'0423456789', N'NSW', N'2010', CAST(N'2025-01-10' AS Date), CAST(N'2025-02-15' AS Date))
INSERT [dbo].[STG_Applicants_update] ([applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date]) VALUES (N'1005', N'Jessica', N'Brown-Taylor', CAST(N'1999-02-28' AS Date), N'jess.browntaylor@gmail.com', N'0456789012', N'QLD', N'4350', CAST(N'2025-01-12' AS Date), CAST(N'2025-02-20' AS Date))
INSERT [dbo].[STG_Applicants_update] ([applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date]) VALUES (N'1007', N'Olivia', N'Smith', CAST(N'2000-08-30' AS Date), N'olivia.smith@outlook.com', N'0478901234', N'QLD', N'4000', CAST(N'2025-01-13' AS Date), CAST(N'2025-02-22' AS Date))
GO
INSERT [dbo].[STG_Courses] ([course_code], [course_name], [institution_code], [institution_name], [campus], [study_mode], [duration_years], [atar_cutoff], [csp_available], [active_flag]) VALUES (N'CQU-ENG1', N'Bachelor of Engineering', N'CQU', N'CQUniversity', N'Rockhampton', N'Full-time', N'4', 65, 1, 0)
INSERT [dbo].[STG_Courses] ([course_code], [course_name], [institution_code], [institution_name], [campus], [study_mode], [duration_years], [atar_cutoff], [csp_available], [active_flag]) VALUES (N'GU-EDU01', N'Bachelor of Education (Primary)', N'GU', N'Griffith University', N'Mt Gravatt', N'Full-time', N'4', 74, 1, 1)
INSERT [dbo].[STG_Courses] ([course_code], [course_name], [institution_code], [institution_name], [campus], [study_mode], [duration_years], [atar_cutoff], [csp_available], [active_flag]) VALUES (N'GU-NURS1', N'Bachelor of Nursing', N'GU', N'Griffith University', N'Gold Coast', N'Full-time', N'3', 72, 1, 1)
GO
INSERT [dbo].[STG_Preferences] ([preference_id], [applicant_id], [course_code], [preference_order], [application_year], [offer_status], [offer_date], [response], [response_date]) VALUES (N'P001', N'1001', N'UQ-COMP1', 1, 2025, N'Offered', N'2025-03-15', N'Accepted', N'2025-03-18')
INSERT [dbo].[STG_Preferences] ([preference_id], [applicant_id], [course_code], [preference_order], [application_year], [offer_status], [offer_date], [response], [response_date]) VALUES (N'P002', N'1001', N'QUT-DS001', 2, 2025, N'NULL', N'NULL', N'NULL', N'NULL')
INSERT [dbo].[STG_Preferences] ([preference_id], [applicant_id], [course_code], [preference_order], [application_year], [offer_status], [offer_date], [response], [response_date]) VALUES (N'P003', N'1002', N'UQ-ENG01', 1, 2025, N'Offered', N'2025-03-15', N'Declined', N'2025-03-20')
GO
INSERT [dbo].[STG_Qualifications] ([qualification_id], [applicant_id], [qualification_type], [institution_name], [year_completed], [gpa], [atar_score], [verified]) VALUES (N'Q001', N'1001', N'Year 12', N'Brisbane State High School', 2016, NULL, N'85.30', 1)
INSERT [dbo].[STG_Qualifications] ([qualification_id], [applicant_id], [qualification_type], [institution_name], [year_completed], [gpa], [atar_score], [verified]) VALUES (N'Q002', N'1002', N'Year 12', N'Ipswich Grammar School', 2017, NULL, N'78.90', 1)
INSERT [dbo].[STG_Qualifications] ([qualification_id], [applicant_id], [qualification_type], [institution_name], [year_completed], [gpa], [atar_score], [verified]) VALUES (N'Q003', N'1003', N'Year 12', N'Southport State High School', 2017, NULL, N'91.20', 1)
GO
