/****** Object:  Table [dbo].[Dim_Applicants]    Script Date: 5/15/2026 1:31:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Applicants](
	[applicant_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[applicant_id] [int] NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[postcode] [nvarchar](255) NULL,
	[created_date] [date] NULL,
	[updated_date] [date] NULL,
	[effective_start_date] [date] NOT NULL,
	[effective_end_date] [date] NOT NULL,
	[is_current] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[applicant_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Courses]    Script Date: 5/15/2026 1:31:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Courses](
	[course_sk] [int] IDENTITY(1,1) NOT NULL,
	[course_code] [nvarchar](255) NOT NULL,
	[course_name] [nvarchar](255) NULL,
	[institution_code] [nvarchar](255) NULL,
	[institution_name] [nvarchar](255) NULL,
	[campus] [nvarchar](255) NULL,
	[study_mode] [nvarchar](255) NULL,
	[duration_years] [nvarchar](50) NULL,
	[atar_cutoff] [float] NULL,
	[csp_available] [bit] NULL,
	[active_flag] [bit] NULL,
	[effective_start_date] [date] NOT NULL,
	[effective_end_date] [date] NOT NULL,
	[is_current] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Qualifications]    Script Date: 5/15/2026 1:31:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Qualifications](
	[qualification_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[applicant_sk] [int] NULL,
	[qualification_id] [nvarchar](255) NULL,
	[qualification_type] [nvarchar](255) NULL,
	[institution_name] [nvarchar](255) NULL,
	[year_completed] [int] NULL,
	[gpa] [nvarchar](255) NULL,
	[atar_score] [nvarchar](255) NULL,
	[verified] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dim_Applicants] ON 

INSERT [dbo].[Dim_Applicants] ([applicant_sk], [applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date], [effective_start_date], [effective_end_date], [is_current]) VALUES (16, 1001, N'Sarah', N'Mitchell', CAST(N'1998-03-15' AS Date), N'sarah.mitchell@gmail.com', N'0412345678', N'QLD', N'4000', CAST(N'2025-01-10' AS Date), CAST(N'2025-01-10' AS Date), CAST(N'2025-01-10' AS Date), CAST(N'9999-12-31' AS Date), 1)
INSERT [dbo].[Dim_Applicants] ([applicant_sk], [applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date], [effective_start_date], [effective_end_date], [is_current]) VALUES (17, 1002, N'James', N'O''Connor', CAST(N'1999-07-22' AS Date), N'james.oconnor@hotmail.com', N'0423456789', N'QLD', N'4101', CAST(N'2025-01-10' AS Date), CAST(N'2025-01-10' AS Date), CAST(N'2025-01-10' AS Date), CAST(N'2025-02-15' AS Date), 0)
INSERT [dbo].[Dim_Applicants] ([applicant_sk], [applicant_id], [first_name], [last_name], [date_of_birth], [email], [phone], [state], [postcode], [created_date], [updated_date], [effective_start_date], [effective_end_date], [is_current]) VALUES (18, 1003, N'Emily', N'Zhang', NULL, N'emily.zhang@outlook.com', N'0434567890', N'QLD', N'4220', CAST(N'2025-01-11' AS Date), CAST(N'2025-01-11' AS Date), CAST(N'2025-01-11' AS Date), CAST(N'9999-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Dim_Applicants] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Courses] ON 

INSERT [dbo].[Dim_Courses] ([course_sk], [course_code], [course_name], [institution_code], [institution_name], [campus], [study_mode], [duration_years], [atar_cutoff], [csp_available], [active_flag], [effective_start_date], [effective_end_date], [is_current]) VALUES (43, N'CQU-ENG1', N'Bachelor of Engineering', N'CQU', N'CQUniversity', N'Rockhampton', N'Full-time', N'4', 65, 1, 0, CAST(N'2026-05-14' AS Date), CAST(N'9999-12-31' AS Date), 1)
INSERT [dbo].[Dim_Courses] ([course_sk], [course_code], [course_name], [institution_code], [institution_name], [campus], [study_mode], [duration_years], [atar_cutoff], [csp_available], [active_flag], [effective_start_date], [effective_end_date], [is_current]) VALUES (44, N'GU-EDU01', N'Bachelor of Education (Primary)', N'GU', N'Griffith University', N'Mt Gravatt', N'Full-time', N'4', 74, 1, 1, CAST(N'2026-05-14' AS Date), CAST(N'9999-12-31' AS Date), 1)
INSERT [dbo].[Dim_Courses] ([course_sk], [course_code], [course_name], [institution_code], [institution_name], [campus], [study_mode], [duration_years], [atar_cutoff], [csp_available], [active_flag], [effective_start_date], [effective_end_date], [is_current]) VALUES (45, N'GU-NURS1', N'Bachelor of Nursing', N'GU', N'Griffith University', N'Gold Coast', N'Full-time', N'3', 72, 1, 1, CAST(N'2026-05-14' AS Date), CAST(N'9999-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Dim_Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Qualifications] ON 

INSERT [dbo].[Dim_Qualifications] ([qualification_sk], [applicant_sk], [qualification_id], [qualification_type], [institution_name], [year_completed], [gpa], [atar_score], [verified]) VALUES (1, 16, N'Q001', N'Year 12', N'Brisbane State High School', 2016, NULL, N'85.30', 1)
INSERT [dbo].[Dim_Qualifications] ([qualification_sk], [applicant_sk], [qualification_id], [qualification_type], [institution_name], [year_completed], [gpa], [atar_score], [verified]) VALUES (2, 31, N'Q002', N'Year 12', N'Ipswich Grammar School', 2017, NULL, N'78.90', 1)
INSERT [dbo].[Dim_Qualifications] ([qualification_sk], [applicant_sk], [qualification_id], [qualification_type], [institution_name], [year_completed], [gpa], [atar_score], [verified]) VALUES (3, 18, N'Q003', N'Year 12', N'Southport State High School', 2017, NULL, N'91.20', 1)
SET IDENTITY_INSERT [dbo].[Dim_Qualifications] OFF
GO
