/****** Object:  Table [dbo].[Fact_Application]    Script Date: 5/15/2026 2:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Application](
	[application_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[applicant_sk] [bigint] NULL,
	[course_sk] [bigint] NULL,
	[preference_id] [nvarchar](255) NOT NULL,
	[applicant_id] [nvarchar](50) NULL,
	[course_code] [nvarchar](255) NULL,
	[preference_order] [int] NULL,
	[application_year] [int] NULL,
	[offer_status] [varchar](50) NULL,
	[offer_date] [date] NULL,
	[response] [varchar](50) NULL,
	[response_date] [date] NULL,
	[publish_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[application_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fact_Application] ON 

INSERT [dbo].[Fact_Application] ([application_sk], [applicant_sk], [course_sk], [preference_id], [applicant_id], [course_code], [preference_order], [application_year], [offer_status], [offer_date], [response], [response_date], [publish_date]) VALUES (155, 16, 53, N'P001', N'1001', N'UQ-COMP1', 1, 2025, N'Offered', CAST(N'2025-03-15' AS Date), N'Accepted', CAST(N'2025-03-18' AS Date), CAST(N'2026-05-15' AS Date))
INSERT [dbo].[Fact_Application] ([application_sk], [applicant_sk], [course_sk], [preference_id], [applicant_id], [course_code], [preference_order], [application_year], [offer_status], [offer_date], [response], [response_date], [publish_date]) VALUES (156, 16, 50, N'P002', N'1001', N'QUT-DS001', 2, 2025, N'NULL', NULL, N'NULL', NULL, CAST(N'2026-05-15' AS Date))
INSERT [dbo].[Fact_Application] ([application_sk], [applicant_sk], [course_sk], [preference_id], [applicant_id], [course_code], [preference_order], [application_year], [offer_status], [offer_date], [response], [response_date], [publish_date]) VALUES (157, 31, 54, N'P003', N'1002', N'UQ-ENG01', 1, 2025, N'Offered', CAST(N'2025-03-15' AS Date), N'Declined', CAST(N'2025-03-20' AS Date), CAST(N'2026-05-15' AS Date))
SET IDENTITY_INSERT [dbo].[Fact_Application] OFF
GO
ALTER TABLE [dbo].[Fact_Application] ADD  DEFAULT (getdate()) FOR [publish_date]
GO
